* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mitr", sans-serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  margin: 0 auto;
  max-width: 950px;
}
/* End format style */

nav {
  background: #2eccfa;
  height: 65px;
  border: 2px solid #ccc;
}
nav .logo h1 {
  margin-top: 15px;
  float: left;
  color: azure;
}
nav .menu {
  float: right;
}
nav .menu li {
  float: left;
  list-style: none;
  padding: 19px;
}
nav .menu li a {
  text-decoration: none;
  color: white;
}
nav .menu li:hover {
  background: #00bfff;
}
/* End navbar style */

#content-one {
  height: 420px;
  border-bottom: 2px solid #eee;
  overflow: hidden;
}
.content {
  padding: 20px;
  margin-top: 20px;
  overflow: hidden;
}
.content-left-img {
  float: left;
}
.contet-left-img img {
  width: 500px;
}
.content-right-info {
  width: 320px;
  float: left;
  margin-left: 20px;
}
.content-right-info p {
  margin: 20px 0;
}
.content-right-info a {
  display: inline-block;
  border: 3px solid #2eccfa;
  margin-top: 5px;
  padding: 15px;
  background: #2eccfa;
  color: white;
  text-decoration: none;
}
.content-right-info a:hover {
  background: none;
  padding: 15px;
  border: 3px solid #2eccfa;
  color: black;
}
/* End Content one style */

.content-info {
  width: 100%;
}
.content-head {
  padding: 50px;
  text-align: center;
}
.content-info-left {
  float: left;
  height: 350px;
  padding: 50px;
  width: 50%;
  background: url(img/travel2.JPG) no-repeat;
  background-size: cover;
}
.content-info-left a {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 20px;
  background: #2eccfa;
  color: azure;
  text-decoration: none;
  border: 3px solid #2eccfa;
}
.content-info-left a:hover {
  background: none;
  border: 3px solid #2eccfa;
}
.content-info-left p {
  color: white;
}
.content-info-right {
  float: left;
  height: 350px;
  padding: 50px;
  width: 50%;
  background: url(img/travel3.JPG) no-repeat;
  background-size: cover;
}
.content-info-right a {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 20px;
  background: #2eccfa;
  color: azure;
  text-decoration: none;
  border: 3px solid #2eccfa;
}
.content-info-right a:hover {
  background: none;
  border: 3px solid #2eccfa;
}
.content-info-right p {
  color: white;
}
/* End content two */

.contact-head {
  text-align: center;
  margin-top: 50px;
}
.contact-info-about {
  float: left;
}
.contact-info-about {
  padding: 50px;
  width: 50%;
  text-align: center;
}
.contact-info-about label {
  display: inline-block;
  text-align: left;
  width: 100px;
}
.contact-info-about input {
  padding: 5px 20px;
}
.contact-info-about button {
  padding: 15px 35px;
  border: 3px solid #2eccfa;
  background: #2eccfa;
  color: #eee;
}
.contact-info-about button:hover {
  background: none;
  border: 3px solid #2eccfa;
  color: black;
}
.contact-info-map iframe {
  margin-top: 20px;
  width: 50%;
}
/* End contact style */

footer {
  margin-top: 20px;
  border-top: 2px solid #eee;
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 360px) {
  nav {
    height: auto;
  }
  nav .logo h1 {
    margin-top: 0;
    padding: 10px;
    text-align: center;
    float: none;
  }
  nav .menu {
    float: none;
  }
  nav .menu li {
    float: none;
    text-align: center;
    display: inline-block;
    padding: 13px;
  }
  .content-left-img {
    float: none;
  }
  .content-left-img img {
    width: 100%;
  }
  #content-one {
    height: auto;
    overflow: auto;
  }
  .content-right-info {
    width: 100%;
    float: none;
    margin-left: 0;
    padding: 5px;
  }
  .content-head {
    padding: 20px ;
  }
  .content-info-left, .content-info-right {
    float: none;
    width: 100%;
    height: auto;
  }
  .contact-head {
    margin-top: 0;
    padding: 20px;
  }
  .contact-info-about {
    float: none;
    width: 100%;
  }
  .contact-info-about label {
    text-align: center;
    margin-bottom: 5px;
  }
  .contact-info-map iframe {
    width: 100%;
  }
}
